//colors
$white-main: #f4f4f4;
$white-darker: #e3e3e3;
$white-darkest: #d2d2d2;

$gray-main: #727272;
$gray-lighter: #aeaeae;

$black-main: #030303;
$black-main-lighter: #0a0a0a;
$black-light: #141414;

$purple-main: #4b3ad8;
$purple-text:  #2918b8;
$purple-dark: #29235b;

$green-light: #365956;
$green-main: #14524c;
$green-darker: #041b1b;

$orange-main: #be6817;

$red-main: #df361f;

//gradients
$header-light: #cc47af;
$header-dark: #581249;

$gradient-one-light: #365956;
$gradient-one-dark: #2d4947;
$gradient-two-dark: #223433;
$gradient-three-dark: #1e2d2c;

$svg-to-white-main: invert(99%) sepia(4%) saturate(1%) hue-rotate(262deg) brightness(116%) contrast(91%);
$svg-to-purple-dark: invert(16%) sepia(40%) saturate(1173%) hue-rotate(210deg) brightness(95%) contrast(103%);
$svg-to-green-main: invert(21%) sepia(11%) saturate(3492%) hue-rotate(127deg) brightness(100%) contrast(84%);